<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <header>
      <a href="{% url 'q1' %}">Q1 </a> | <a href="{% url 'q2' %}">Q2 </a> |
      <a href="{% url 'q3' %}">Q3 </a> | <a href="{%url 'q4' %}">Q4</a> 
    </header>
    <body>
      {% block content %} {% endblock content %}
    </body>
    <footer>
      <p>Author: Sagnik Chatterjee</p>
      Github:
      <p>
        <a href="https://github.com/sagnik-chatterjee">sagnik-chatterjee</a>
      </p>
    </footer>
  </body>
</html>
