<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Q2 | OLA CAB SERVICE</title>
</head>

<body style="text-align:center; font-family:Monospace">
    <p>
        Create a ReST service for Ola Cabs with the requirement given below:
        The service should provide the following real time information about Ola rides available at a given user
        location (latitude and longitude).
        • Estimated time of arrival (ETA)
        • Fare details
        Implement the CRUD operations for the resources identified and create a client to consume the service.
    </p>
    <hr />
    <p>
    </p>
</body>

</html>