{% extends "template.html" %} {% block content %}
<div class="card bg-light">
  <div class="card-header bg-dark text-white">
    <h1>Reviews</h1>
  </div>
  <div class="card-body">
    <div class="card mb-2">
      <div class="card-header bg-dark text-white">
        Khaled Hosseini
        <i class="fas fa-star ms-3"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div class="card-body bg-light">
        <p class="card-text">The novel is very good.</p>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header bg-dark text-white">
      Bookworm
      <i class="fas fa-star ms-3"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <div class="card-body bg-light">
      <p class="card-text">It is very lengthy and boring.</p>
    </div>

    <a href="{% url 'home'%}" class="btn btn-lg btn-outlineprimary">back</a>
  </div>
</div>
{%endblock content %}
