<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q4</title>
  </head>
  <body>
    <p>
      Create a Django Page for entry of a Product information (title, price and
      description) and save it into the db. Create the index page where you
      would view the product entries in an unordered list.
    </p>
    <a href="{% url 'entry' %}">Enter a new product</a><br />
    <a href="{% url 'index' %}">View Products</a>
  </body>
</html>
