<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q1 | part 2</title>
  </head>
  <body>
    <p>
      Design a web site using Django, which is a website directory – A site
      containing links to other websites. A web page has different categories. •
      A category table has a name, number of visits, and number of likes. • A
      page table refers to a category, has a title, URL, and many views. Design
      a form that populates the above database and displays it.
    </p>
    <form action="category" method="POST">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      <input type="submit" value="insert" />
    </form>
    <br />
    <a href="{% url 'home' %}">Go back to home</a>
  </body>
</html>
