<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q1 | Part 2</title>
  </head>
  <body>
    <p>
      Design a web site using Django, which is a website directory – A site
      containing links to other websites. A web page has different categories. •
      A category table has a name, number of visits, and number of likes. • A
      page table refers to a category, has a title, URL, and many views. Design
      a form that populates the above database and displays it.
    </p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>

    <!-- print the result over here -->
    {% block content %}
    <ul>
        <li> {{ objects.category }}</li>
        <li> {{ objects.title }}</li>
        <li> {{ objects.url }}</li>
        <li> {{ objects2.view_count }}</li>
        <li> {{ objects.name }}</li>
        <li> {{ objects.visit_count }}</li>
        <li> {{ objects.like_count }}</li>
                
    </ul>
    {% endblock %}
</body>
</html>
